@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
    box-sizing: border-box;
  }

  
*,*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
html{
    font-size: 62.5%;
}
  body {
    background-color: #111;
    min-height: 100vh;
    font-family: 'Teko', sans-serif;

  }
  .loader {
    width: 527px;
    height: 606px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    -webkit-clip-path: polygon(0 -25%, 100% -25%, 100% 100%, 0 100%);
    clip-path: polygon(0 -25%, 100% -25%, 100% 100%, 0 100%);
  }
  .loader__prong {
    background: #f00;
  }
  .loader__prong:nth-of-type(1) {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    -webkit-animation: drop-in-3 2.5s infinite linear;
            animation: drop-in-3 2.5s infinite linear;
  }
  .loader__prong:nth-of-type(2) {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    -webkit-animation: drop-in 2.5s infinite linear;
            animation: drop-in 2.5s infinite linear;
  }
  .loader__prong:nth-of-type(3) {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    -webkit-animation: drop-in-2 2.5s infinite linear;
            animation: drop-in-2 2.5s infinite linear;
  }
  .loader__icon {
    position: absolute;
    height: 58%;
    width: 80%;
    background: #111;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-clip-path: polygon(50% 0, 100% 85%, 85% 100%, 58% 80%, 73% 80%, 50% 40%, 27% 80%, 42% 80%, 15% 100%, 0 85%);
    clip-path: polygon(50% 0, 100% 85%, 85% 100%, 58% 80%, 73% 80%, 50% 40%, 27% 80%, 42% 80%, 15% 100%, 0 85%);
    -webkit-animation: fade-in 2.5s infinite linear;
            animation: fade-in 2.5s infinite linear;
  }


  .loading{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-align: center;
    font-weight: 300;
    justify-content: center;
    align-items: center;
  }

 .a{
    text-decoration: none;
    color: rgb(128, 128, 128);

 }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    8%, 100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    8%, 100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes drop-in-2 {
    0%, 10% {
      opacity: 0;
      transform: translate(0, -25%);
    }
    20% {
      opacity: 1;
    }
    30%, 50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 100%);
      opacity: 0;
    }
  }
  @keyframes drop-in-2 {
    0%, 10% {
      opacity: 0;
      transform: translate(0, -25%);
    }
    20% {
      opacity: 1;
    }
    30%, 50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 100%);
      opacity: 0;
    }
  }
  @-webkit-keyframes drop-in-3 {
    0%, 10% {
      opacity: 0;
      transform: translate(0, -25%);
    }
    20% {
      opacity: 1;
    }
    30%, 75% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 100%);
      opacity: 0;
    }
  }
  @keyframes drop-in-3 {
    0%, 10% {
      opacity: 0;
      transform: translate(0, -25%);
    }
    20% {
      opacity: 1;
    }
    30%, 75% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 100%);
      opacity: 0;
    }
  }
  @-webkit-keyframes drop-in {
    0% {
      opacity: 0;
      transform: translate(0, -25%);
    }
    5% {
      opacity: 1;
    }
    10%, 65% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 100%);
      opacity: 0;
    }
  }
  @keyframes drop-in {
    0% {
      opacity: 0;
      transform: translate(0, -25%);
    }
    5% {
      opacity: 1;
    }
    10%, 65% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 100%);
      opacity: 0;
    }
  }
  